.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: var(--content-width);
  max-width: var(--max-content-width);
  margin: 40px auto;
}

.title {
  font-weight: bold;
  font-size: 1.9rem;
}
