.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 100%;
  margin: 40px auto;
  overflow: hidden;
}

.slider {
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  padding-bottom: 20px;
  scroll-behavior: smooth; /* Ensures smooth scrolling */
}

.slider > * {
  min-width: 300px;
}
